<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paypal.hecprototype" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Leanback" >
        <activity
            android:name=".LoginActivity"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentMethodActivity"
            android:label="@string/title_activity_payment_method"
            android:parentActivityName=".LoginActivity" >
        </activity>
        <activity
            android:name=".SendNotificationActivity"
            android:label="@string/title_activity_send_notification"
            android:parentActivityName=".PaymentMethodActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PaymentMethodActivity" />
        </activity>
        <activity
            android:name=".TVActivity"
            android:label="@string/title_activity_tv"
            android:parentActivityName=".SendNotificationActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".PlaybackOverlayActivity" />
        <activity android:name=".BrowseErrorActivity" />
        <activity
            android:name=".ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:label="@string/title_activity_loading" >
        </activity>
    </application>

</manifest>
