<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="submit_cart_url">http://url:port/api/cart/submit</string>
    <string name="payment_send_url">http://url:port/api/payment/send</string>
    <string name="payment_status_url">http://url:port/api/payment/status</string>
    <string name="client_key">your_client_key</string>
</resources>
